* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Nunito, sans-serif;
}

main {
    padding: 24px;
}
a{
    text-decoration-line: none;
    color: inherit;
}

.header-container {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 24px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin-inline: auto;


}

.title {
    font-weight: 800;
}

.countries-container {
    max-width: 1280px;
    margin-inline: auto;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    justify-content: space-between;
}


.country-card{
    overflow: hidden;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 24px;
    display: inline-block;
    transition: all transform 0.2s ease-in-out;
}
.country-card:hover{
transform: scale(1.05);
box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}

.card-text {
    padding-inline: 16px;
}

.card-text p {
    margin-block: 8px;
}

.card-title {
    font-size: 24px;
    margin-block: 16px;
}

.country-card img {
    width: 100%;
}